* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #fff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #fff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }

  table {
    border: 2px solid #fff;
    border-collapse: collapse;
  }
  
  h1, h3 {
    color: #fff;
  }
  
  img {
    height: 50px;
  }
  th,
  tr,
  td {
    border: solid 1px #fff;
    color: #fff;
  }
  