body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://www.gov.br/anatel/pt-br/centrais-de-conteudo/4-faqgettyimages-1125911469-png");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 91vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-size: 50px;
  }
  
  .page-subtitle, .page-chance {
    color: #ffffff;
    font-size: 25px;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
  }