body {
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
}

.container {
    border: solid;
    border-radius: 30px;
    width: 700px;
    height: 300px;
    text-align: center;
}

select {
    height: 40px;
    width:  150px;
    font: 1.5em sans-serif;
}

input {
    width:  150px;
    margin: 30px 30px 10px;
    font: 1.7em sans-serif;
}

button {
    font: 1.7em sans-serif;
    border-radius: 10px;
}

h2 {
    font: 2em arial;
}